body{
    background-color: #2f6ad0;
    background-image: url("https://transparenttextures.com/patterns/brick-wall.png");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.head{
    text-align: center;
}
form {
    width: 90%;
    display: block;
    margin: auto;
    padding: 18px 116px;
    background: #000000;
    background-image: url(https://transparenttextures.com/patterns/large-leather.png);
}
.form-group {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: block;
    margin: auto;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    form {
        width: 90%;
        display: block;
        margin: auto;
        padding: 50px 49px;
        background: #000000;
        background-image: url(https://transparenttextures.com/patterns/large-leather.png);
    }
}


